/*{% extends "base.html" %}
{% block title %} Add Employe
<form action="http://localhost/ride_input.php" method="post">

<b>Add a New Attraction</b>

<p>Attraction Name:
<input type="text" name="atrraction_name" size="30" value="" />
</p>

<p>Price:
<input type="text" name="price" size="30" value="" />
</p>

<p>Capacity:
<input type="text" name="capacity" size="30" value="" />
</p>

<p>Date Built:
<input type="text" name="date_built" size="60" value="" />
</p>


<p>Maintenance Date:
<input type="text" name="m_date" size="30" value="" />
</p>

<p>Department:
<input type="text" name="dno" size="30" maxlength="1" value="" />
</p>

<p> Operation Cost:
<input type="text" name="op_cost" size="30" value="" />
</p>


<p>
<input type="submit" name="submit" value="Send" />
</p>

</form>

{% endblock %}
