{% extends "base.html" %}
{% block title %} Add Employee {% endblock %}

{% block content %}
{% include 'baseMenu.html' %}
<div class="container">
  <div class="page-header">
    <h1>Add a New Employee</h1>
  </div>
<div class="container">

<form role = "form" action="Employee_input.php" method="post">

<p>First Name:
<input type="text" name="first_name" size="30" value="" />
</p>

<p>Last Name:
<input type="text" name="last_name" size="30" value="" />
</p>

<p>Full Address:
<input type="text" name="address" size="60" value="" />
</p>


<p>Phone Number:
<input type="text" name="phone" size="30" value="" />
</p>

<p>Birth Date (DD-MM-YYYY):
<input type="text" name="birth_date" size="30" value="" />
</p>

<p>Sex (M or F):
<input type="text" name="sex" size="30" maxlength="1" value="" />
</p>

<p> SSN:
<input type="text" name="SSN" size="30" value="" />
</p>

<p> Start Date:
<input type="text" name="Start_Date" size="30" value="" />
</p>

<p> Employee ID:
<input type="text" name="Employee_ID" size="30" value="" />
</p>

<p>  Wage:
<input type="text" name="Wage" size="30" value="" />
</p>

<p> Supervisor:
<input type="text" name="Supervisor" size="30" value="" />
</p>

<p> Department:
<input type="text" name="Manages" size="30" value="" />
</p>

<p>
<input type="submit" name="submit" value="Send" />
</p>

</form>
</div>

{% endblock %}
