<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <link rel="stylesheet" href="templates/assets/css/app.css">
      <link rel="stylesheet" href="templates/assets/css/app-theme.css">
      <link rel="stylesheet" href="templates/assets/css/style.css" />
      <link href="templates/assets/css/navbar-fixed-top.css" rel="stylesheet"/>
      {% block head %}
        
      
        <title>{% block title %}{% endblock %} - Theme Park</title>
      {% endblock %}
    </head>
    <body>
        <div id="content">
        {% block content %}
       
        {% endblock %}        
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
                $('.dropdown-toggle').dropdown();
            });
        </script>
    </body>
</html>