{% extends "base.html" %}

{% block content %}
<div class="container">

  <!-- The justified navigation menu is meant for single line per list item.
       Multiple lines will require custom code not provided by Bootstrap. -->
  <div class="nav navbar-nav navbar-right">
    <p class="navbar-btn">
      <a href="logout.php" class ="btn btn-primary">Log Out</a>
    </p>
  </div>
  <div class="masthead">
    <h1 class="text-muted">Disaster Land Management</h1>
    
    <nav>
      <ul class="nav nav-justified">
        <li id="home"><a href="menu.php">Home</a></li>
      </ul>
    </nav>
    
  </div>
</div>
{% endblock %}
