{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="nav navbar-nav navbar-right">
    <p class="navbar-btn">
      <a href="logout.php" class ="btn btn-primary">Log Out</a>
    </p>
  </div>
  <div class="masthead">
    <h1>Disaster Land Management</h1>
    
    <nav class="navbar-default" role="navigation">
      <div class ="nav-header">
        <button type="button" class ="navbar-toggle" data-toggle="collapse" data-target="mainNavBar">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
        <div class="navbar-collapse collapse" id="mainNavBar">
          <ul class="nav nav-justified">
            <li id="home"><a href="menu.php">Home</a></li>
            {% if dno == 1 %}
            <li id="addAttraction"><a href="Attraction_input.php">Add Attraction</a></li>      
            {% elseif dno == 4 %}
            <li id="addGame"><a href="game_input.php">Add Game</a></li>
            {% endif %}
            {% if dno == 2 %}
          <!--  <li id="addMerchandise"><a href="merchandise_input.php">Add Merchandise</a></li> -->
            <li id="addShop"><a href="shop_input.php">Add Shop</a></li>
            <li id="reports"><a href="merchandise.php">Merchandise</a>
				<ul>
				<li><a href = merchandise_input.php>AddMerchandise</a>
				</ul>
				</li>
            {% endif %}
            <li id="maintenance"><a href="report.php">Reports</a></li>
            <li id="maintenance"><a href="logInput.php">EOD Input</a></li>
            <li id="employees"><a href="displayEmp.php">Employees</a><ul>
				<li><a href = Employee_input.php>Add Employee</a>
				</ul>
				</li>
           <!-- <li id="addEmployee"><a href="Employee_input.php">Add Employee</a></li> -->
          </ul>
        </div>
    </nav>
    
  </div>
</div>
{% endblock %}
