{% extends "base.html" %}
{% block title %} Change Password {% endblock %}
{% endblock %}

{% block content %}
{% include 'baseMenu.html' %}
<div class="container">
  <div class="page-header">
    <h2>Change your password</h2>
    <h3 class="centerText">{{ msg }}</h3>
  </div>
<div class="container">
<form role = "form" action="Attraction_input.php" method="post">
<div class ="form-group">
  <label for="attraction_name">Enter your current password:</label>
<input type="text" name="old_password" class="form-control" placeholder="Enter your current password" required>
</div>

<div class ="form-group">
  <label for="attraction_name">New Password:</label>
<input type="text" name="new_password" class="form-control" placeholder="New Password" required>
</div>

<div class ="form-group">
  <label for="attraction_name">Confirm the new password:</label>
<input type="text" name="confirm_password" class="form-control" placeholder="Confirm the new password" required>
</div>

<p>
<input type="submit" name="submit" value="Send" />
</p>

</form>
</div>

{% endblock %}
