{% extends "base.html" %}
{% block title %} Change Password {% endblock %}

{% block content %}
{% if isManager == true %}
{% include 'baseMenu.html' %}
{% else $}
{% include 'baseEmpMenu.html' %}
{% endif %}
<div class="container">
	<div class="page-header">
		<h2>Change Your Password</h2>
		<h3 class="centerText">{{ msg }}</h3>
	</div>
		<form role = "form" action="changePassword.php" method="post">
		
			<div class ="form-group">
				<label for="old_password">Current Password:</label>
				<input type="password" name="old_password" class="form-control" placeholder="Enter your current password" required>
			</div>

			<div class ="form-group">
				<label for="new_password">New Password:</label>
				<input type="password" name="new_password" class="form-control" placeholder="Enter your new password" required>
			</div>
		
			<div class ="form-group">
				<label for="confirm_password">Confirm New Password:</label>
				<input type="password" name="confirm_password" class="form-control" placeholder="Confirm your new password" required>
			</div>

			<p>
				<input type="submit" name="submit" value="Submit" />
			</p>
		</form>
</div>
{% endblock %}
