{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#startDatepicker" ).datepicker({
      dateFormat: "yy-mm-dd"
      });
  } );
  </script>
  <script>
  $( function() {
    $( "#endDatepicker" ).datepicker({
      dateFormat: "yy-mm-dd"
      });
  } );
  </script>
{% endblock %}
{% block content %}
<br/>
  <form class="form-inline" role="form" method="post" action="report.php">
    <div class ="form-group">
      <label for="startDatepicker">Start Date:</label>
      <input type="text" id="startDatepicker" name = "startDatepicker">
    </div>
    <div class ="form-group">
      <label for="endDatepicker">| End Date:</label>
      <input type="text" id="endDatepicker" name="endDatepicker">
    </div>
    <div class ="form-group">
      <button class="btn btn-primary" type="submit" name="submit">Generate Report</button> 
    </div>
  </form>
  <table class="table table-borderd table-sm">
    <thead>
      <tr>
        <th>Date</th>
        <th>Average</th>
        <th>Total Sales</th>
        {% for location in locations %}
        <th>{{ location }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for id, date in dates %}
      <tr>
        <td>{{ date }}</td>
        <td> {{ averageLogs[id] }}</td>
        <td> {{ sumLogs[id] }}</td>
        {% for amount in amountLogs[id] %}
          <td>{{ amount }}</td>
          {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}