{% extends "base.html" %}
{% block title %} Login {% endblock %}

{% block content %}
  <h1>Disaster Land Management Portal</h1>
  <h2>Enter Username and Password</h2>

  <div class = "container form-signin">
    <form class ="form-signin" role = "form"
      action = "index.php" method = "post">
      <h4 class="form-signin-heading">{{ msg }}</h4>
      <input type="text" class = "form-control"
        name = "username" placeholder="Enter your username"
        required autofocus>
      </br>
      <label for="password" class="sr-only">Password</label>
      <input type="password" class="form-control"
        name="password" placeholder="enter your password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit"
        name="login">Login</button>
    </form>  
  </div>
  <div class "container">
    <p>click here to clean <a href={{ clear }}> Session </a></p>
  </div>
  
{% endblock %}