{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#startDatepicker" ).datepicker({
      dateFormat: "yy-mm-dd"
      });
  } );
  </script>
  <script>
  $( function() {
    $( "#endDatepicker" ).datepicker({
      dateFormat: "yy-mm-dd"
      });
  } );
  </script>
{% endblock %}
{% block title %} Maintenance Report {% endblock %}

{% block content %}
{% include 'baseMenu.html' %}
<br/>
<div class="container">
  <div class="page-header">
    <h1>Attractions</h1>
  
  <form class="form-inline" role="form" method="post" action="maintenanceReport.php">
    <div class="form-group">
    <select class="form-control" name="report">
      <option>Fixed</option>
      <option>Ongoing</option>
    </select>
  </div>
  <div class ="form-group">
    <button class="btn btn-primary" type="submit" name="select">Select</button> 
  </div>
  </form>
  </div>
  {% if selectedReport == "Fixed"%}
    {% include 'fixedReport.html' %}
  {% elseif selectedReport == "Ongoing" %}
    {% include 'ongoingReport.html' %}
  {% endif %}
    <hr/>
    <form class = "form-inline" role ="form" method="post" action="maintenanceReport.php"> 
      <div class ="form-group">
        <label for="startDatepicker">Start Date:</label>
        <input type="text" id="startDatepicker" name = "startDatepicker" required>
      </div>
      <div class ="form-group">
        <label for="endDatepicker">| End Date:</label>
        <input type="text" id="endDatepicker" name="endDatepicker" required>
      </div>
      <div class ="form-group">
        <button class="btn btn-primary" type="submit" name="submit">Submit</button> 
      </div>
    </form>
</div>
{% endblock %}