{% extends "base.html" %}

{% block title %} Main Menu {% endblock %}

{% block content %}
{% if manager == true %}
{% include 'baseMenu.html' %}
{% else %}
{% include 'baseEmpMenu.html' %}
{% endif %}

<div class ="container">
<h1>Welcome {{ name }}</h1>
<h3 class="centerText">{{ departmentMsg }} </h3>
</div>
{% if dno == 1%}
{% include 'attractOperational.html' %}
{% endif %}
{% if dno == 3 %}
  {% if brokeRides|length > 0 %}
    {% include 'maintenanceInput.html' %}
  {% endif %}
{% endif %}

{% if (manager == true) and (dno != 3 and (locations|length > 0)) %}
  {% include 'employeeLink.html' %}
{% endif %}
<script>
  $(document).ready(function () {
      $('#home').addClass('active');
  });
</script>
{% endblock %}
