{% extends "base.html" %}
{% block title %} Merchandise Report {% endblock %}

{% block content %}
{% include 'baseMenu.html' %}
<div class ="container">
	<div class="header">
		<div id="page-header">
			<h2>A list of all merchandise that was sold for the day.</h2>
		</div>
	</div>

	<h3>Food Report</h3>
	<table class = "table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Product</th>
				<th>Shop/Kiosk</th>
				<th>Serial Number</th>
				<th>Inventory</th>
			</tr>
		</thead>
		
		<tbody>
			{% for food in foods %}
			<tr>
				<td>{{ food[0] }}</td>
				<td>{{ food[1] }}</td>
				<td>{{ food[2] }}</td>
				<td>{{ food[3] }}</td>
				<td>{{ food[4] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	
	<h3>Gifts Report</h3>
	<table class = "table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Product</th>
				<th>Shop/Kiosk</th>
				<th>Serial Number</th>
				<th>Inventory</th>
			</tr>
		</thead>
		
		<tbody>
			{% for gift in gifts %}
			<tr>
				<td>{{ gift[0] }}</td>
				<td>{{ gift[1] }}</td>
				<td>{{ gift[2] }}</td>
				<td>{{ gift[3] }}</td>
				<td>{{ gift[4] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
	
<footer>
	<div class="logout">
		<p><a href={{ logout }}>Log Out</a>
	</div>
</footer>
{% endblock %}
