{% extends "base.html" %}
{% block title %} Merchandise Report {% endblock %}

{% block content %}
<div class="header">
	<div id="header-text">
		<h1>Merchandise Report</h1>
		<h2>A list of all merchandise that was sold for the week.</h2>
    </div>
</div>

<div class="food">
    <div id="food-text">
		<h1>Food</h1>
		<h2>A report on the food sold in theme park.</h2>
		<p> <input type="food_id" class = "form-control" name = "food" placeholder="Enter ID for type of food."> </p>
		<button class="btn btn-lg btn-primary btn-block" type="submit" name="food">Submit</button>
    </div>
</div>

<div class="gift">
    <div id="gift-text">
		<h1>Gifts</h1>
		<h2>A report on the gifts sold in theme park.</h2>
		<p> <input type="gift_id" class = "form-control" name = "gift" placeholder = "Enter ID for type of gift."> </p>
		<button class="btn btn-lg btn-primary btn-block" type="submit" name="gift">Submit</button>
    </div>
</div>

<div class="locker">
    <div id="locker-text">
		<h1>Lockers</h1>
		<h2>A report on the lockers used in theme park.</h2>
		<p> <input type="locker_id" class = "form-control" name = "locker" placeholder = "Enter locker ID."> </p>
		<button class="btn btn-lg btn-primary btn-block" type="submit" name="locker">Submit</button>
    </div>
</div>
{% endblock %}
