{% extends "base.html" %}
{% block title %} Merchandise Report {% endblock %}

{% block content %}
<div class="header">
    <div id="header-text">
      <h1>Merchandise Report</h1>
      <h2>A list of all merchandise that was sold for the week.</h2>
    </div>
</div>

<div class="food">
    <div id="food-text">
      <h1>Food</h1>
      <h2>A report on the food sold in theme park.</h2>
	  <p> Enter type of food: <input type="text" name="food" size="30" value="" /> </p>
    </div>
</div>

<div class="food">
    <div id="food-text">
      <h1> Gifts </h1>
	  <h2>A report on the gifts sold in theme park.</h2>
	  <p> Enter type of gift: <input type="text" name="food" size="30" value="" /> </p>
    </div>
</div>

<div class="food">
    <div id="food-text">
      <h1>Lockers</h1>
      <h2>A report on the lockers used in theme park.</h2>
	  <p> Enter locker number: <input type="text" name="food" size="30" value="" /> </p>
    </div>
</div>

{% endblock %}
